
{% extends "scmfal/base1.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
    
    <div class="container">
       
        <div class="row">
            
            <div class="col-sm-5 col-md-6 col-12 pb-4">
               
                <img src="{{context4}}" width="50">
                    <h4>{{context.author}}</h4> <span>{{context.post_date}}</span> <br>
                    <h5>Topic: {{context.title}}</h5>
                    <large class="font-weight-bold">{{context.body}}</small>
                        {% if context.add_image.url != None %}
                    <img src = "{{context.add_image.url}}" width="555">
                    {% endif %}
                </div>
                
            </div>
            
        
        
        <div class="container mt-5">  <!-- row d-flex justify-content-center --> 
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        
                        
                        
                        
                        {% if context3 > 0 %}
                        
                        <h5>Comments</h5>
                        {% else %}
                        <h5>No Comments have made yet!</h5>
                        {% endif %}
                        <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> 
                               
                            </span> </div>
                    </div>
                   
                    {% for i,j in context5 %}
                    
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"><img src="{{j}}" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{i.author}}</small> <small class="font-weight-bold">{{i.body}}</small>
                                
                             <a href ="http://127.0.0.1:8000/courses/availableClasses/sdk/sdk1/sdk2/sdk3/sdk4/{{i.id}}"><button id="button" onclick="myFunction()"><img src="{% static '/up-arrow-png-8.png' %}" height="20"></button></a>
                                
                            <small class="font-weight-bold">{{i.score}}</small>
                                
                            </span> 
                        </div> 
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
       
        <div class="d-flex flex-row bd-highlight mb-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
            
        </div>
        
    </div>
   
    
</section>
    
{% endblock content %}