{% extends "scmfal/base1.html" %}
{% block content %}


   <div>
    
    
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/availableClasses/';" value="1/1" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="1/2" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="2/1" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="2/2" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="3/1" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="3/2" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="4/1" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/courses/';" value="4/2" />
    </div>
    
        
   
    
    
    
    
{% endblock content %}